<!doctype html>
<html lang="en">
<html>
<head>
<meta charset="utf-8">
<title>login UI</title>
    <link rel="stylesheet" href="/public/mycss/login.css">
</head>
<body>
    <div class="water_plant_bg"></div>
    <div class="box">
            <h2>Sheraton泳池监控系统</h2>
  <form action="http://127.0.0.1:3000/login">
    <div class="inputBox">
      <input type="text" name="name" required="">
      <label>用户名</label>
    </div>
    <div class="inputBox">
		<input type="password" name="pwd" required="">
		<label>密码</label>
    </div>
    <div class="bx">
    <input type="submit"  value="登录">      
      <a href="/register" > <input type="button"  value="注册" ></a>
    </div>
  </form>
	</div>
    </body>
</html>
</html>