<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register UI</title>
    <link rel="stylesheet" href="/public/mycss/register.css">
</head>
<body>
    <div class="water_plant_bg"></div>
    <div class="box">
            <h2>用户注册</h2>
  <form action="http://127.0.0.1:3000/register1">
    <div class="inputBox">
      <input type="text" name="name" required="">
      <label>请输入用户名</label>
    </div>
    <div class="inputBox">
		<input type="password" name="pwd" required="">
		<label>请输入密码</label>
    </div>
    <input type="submit" value="注册">
  </form>
	</div>
    </body>
</html>
</html>
